#band {
    width: 100%;
    height: 7px;
    background-color: rgb(4, 166, 255);
    margin-bottom: 50px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border:1px solid green;
}
 h2, h4, h3 {
    font-family: verdana;
    margin: 0;
    color: green;
    font-weight: bold;
    text-align: center;
}
span {
  font-size: 16px;
   margin: 0;
   color: green;
   font-weight: bold;
}
button {
     width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 8px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#bidAmount {
    width: 150px;
    padding: 10px 12px;
    border: 2px solid rgb(199, 194, 194);
    border-radius: 4px;
    margin: 10px;
    margin-bottom: 16px;
    background-color: rgb(216, 210, 210);
}

button:active {
    background-color: rgb(0, 81, 125);
}

button:hover {
    opacity: 0.7;
}
